

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="This is description">
    <meta name="keywords" content="">
    <meta name="robots" content="INDEX,FOLLOW">

    <title>THIS IS NAMAN YO</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
<!--    <script src="https://kit.fontawesome.com/a076d05399.js"></script>-->

</head>

<body>
<style>
    *
{
    margin: 0;
    padding:0;
    box-sizing:border-box;
         font-family: 'Merriweather', serif;

}
    {% include 'nav_bar.css' %}

    </style>
<nav class="navbar">
    <div class="brand-title"><img src="../static/store/logo2.jpg" width="120px" height="75px"> </div>

    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>

    </a>


    <div class="navbar-links">

    <ul>

        <li><a class="#" href="/">Home</a></li>
        <li><a class="#" href="/cart">cart<span>({{request.session.cart.keys|length}})</span></a></li>
        {% if request.session.customer %}
<!--        <li><a class="fas" href="/cart">cart<span>{{request.session.cart.keys|length}}</span></a></li>-->
        <li><a href="/order_view">Orders</a></li>
        <li><a href="/logout">Log out</a></li>
        {% else %}
        <li class="lit"><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign up</a></li>
        {% endif %}
        <!--            <li><a href="#"><img src="../static/images/cart4.jpg" height="37" width="50"></a></li>-->

  </a></li>


    </ul>
    </div>



</nav>
<script>
const toggleButton = document.getElementsByClassName('toggle-button')[0]
const navbarLinks = document.getElementsByClassName('navbar-links')[0]

toggleButton.addEventListener('click',()=> {
    navbarLinks.classList.toggle('active')
})
</script>




<div class="container1">

    {% block product_var %}
    {% endblock %}

</div>

<div class="container">
    {% block checkout %}
    {% endblock %}
    {% block order %}
    {% endblock %}
    {% block cart %}
    {% endblock %}
    {% block login %}
    {% endblock %}
    {% block signup %}
    {% endblock %}
    {% block home %}
{% endblock %}
</div>

</body>
<footer></footer>
</html>




