



{% extends 'base.html' %}
{% load static %}
{% block checkout %}

<div class="form">
<div class="container-sign">
    <form action="/checkout/" method="POST">
        {% csrf_token %}
        <label >First Name</label><br>
        <input type="text" name="f_name"  class="" ><br><br>

        <label >Last Name</label><br>
        <input type="text" name="l_name" class="" ><br><br>

        <label >Address</label><br>
        <input type="text" name="address" class="" ><br><br>

        <label >City</label><br>
        <input type="text" name="city"  class="" ><br><br>

        <label >state</label><br>
        <input type="text" name="state"  class="" ><br><br>

        <label >Zip code</label><br>
        <input type="number" name="zip" required class="" ><br><br>

        <label >Phone Number</label><br>
        <input type="number" name="phone"  class="" ><br><br>

        <label >Email</label><br>
        <input type="email" name="email"  class="" ><br><br>

        <input class="sub-btn" type="submit" value="Check out"><br><br>
        <a href="/cart" id ="cancel" class="sub-btn"  >Cancel</a>
    </form>
</div>
</div>
<style>
    {% include "signup.css" %}

    /*sub-btn {*/
    /*    border: 2px solid rgb(143,43,161);*/
    /*border-radius: 5px;*/
    /*text-decoration: none;*/
    /*font-size: 16px;*/
    /*padding: 9px;*/
    /*color: black;*/
    /*    margin-top:10px;*/

    /*}*/
</style>
{% endblock %}