

{% extends 'base.html' %}

{% block login %}

<div class="form">
  <div class="container-sign">
  <h1>Log in</h1><br>
{% if error %}
<div class="error">{{error}}</div><br>
{% endif %}


  <form action="/login/" method='POST' autocomplete="on">
    {% csrf_token %}
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" autocomplete="off"><br><br>
  <label for="password">Password</label><br>
  <input type="password" name="password"><br><br>
  <input type="submit" class="sub-btn" value="Submit">

  </form>
  </div>
</div>
<style>

    {% include "signup.css" %}

</style>

{% endblock %}