

{% extends 'base.html' %}


{% block nav %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <label class="logo"><img src="../static/images/logo2.jpg" width="100" height="50"></label>
        <ul>
            <li><a class="active" href="">Home</a></li>
            <li><a href="">Log in</a></li>
            <li><a href="">Sign up</a></li>
            <li><a href=""><img src="cart.jpg"></a></li>
            <li><a href="">Profile</a></li>
            <li><a href="" class="icon"><i class="fa fa-bars"></i></a> </li>

        </ul>
<style>
    {% include "nav_bar.css" %}
</style>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



{% endblock %}