
{% extends 'base.html' %}
{% block product_var %}
{% load cart %}
{% for product in products %}
<div class="box2-box" id="{{product.id}}">

   <img src={{product.image.url}} width="400" height="290">

    <div class="product-id">{{product | is_in_cart:request.session.cart}}</div>
  <div class="cart">

     {% if product|is_in_cart:request.session.cart %}
      <form action="/#{{product.id}}" class="" method="POST">
          {% csrf_token %}
          <input hidden type="text" name="product" value="{{product.id}}">
          <input hidden type="text" name="product_remove" value="True">
          <input type="submit" value="-" class="sub-btn1">
      </form>
    <div class="add-to-cart">{{product|cart_quantity:request.session.cart}} in cart </div>
<!--       <input type="submit" name="plus" class="sub-btn2" value="+">-->
      <form action="/" class="" method="POST">
          {% csrf_token %}
          <input hidden type="text" name="product" value="{{product.id}}">
          <input type="submit" value="+" class="sub-btn2">
      </form>
      {% else %}
       <form action="/#{{product.id}}" method="POST">
        {% csrf_token %}
        <input type="text" name="product" value="{{product.id}}" class="product-id">
        <input type="submit" class="add-to-cart" value="Add to cart">
    </form>
      {% endif %}

  </div>
</div>


    {% endfor %}

{% endblock %}